{% extends 'base.html' %}

{% block body %}
<div class="continer">

  <!-- <form action="/flight/add" method="post">
    <label for="from_location">From:</label>
    <input type="text" name="from_location"></br>
    <label for="to_location">To:</label>
    <input type="text" name="to_location"></br>
    <label for="schedule">Schedule:</label>
    <input type="text" name="schedule"></br>
    <button type="submit">Submit</button>
  </form> -->

  <form enctype="multipart/form-data" action="/flight/add" method="post">
    <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
    Upload Flights data: <br />
    <input type="file" name="uploadedfile" /> <br /> <br />
    <button type="submit">Submit</button>
  </form>
</div>

{% endblock %}
